body{
    font-family: "montserrat";
    
}

#title
  {
    background-color : #ff4c68 ;
    color: #fff;
    
  }
h1{
    font-family: "Montserrat-black"  ;
    font-size:  3.5rem ;
    line-height : 1.5 ;
    
  }

  h2{
      font-family: "montserrat-bold";
      font-size: 3rem;
      line-height: 1.5;
  }

  .testimonial-image{
      width: 10%;
      border-radius: 100%;
      margin: 20px;
  }


  .container-fluid{
      padding: 3% 15% 7%;
  }

 /* navigation bar*/

.na
{
    padding :  0  0  4.5rem;
}


 
 .nav-item
 {
     padding: 0 18px;
 }

 .navbar-brand{
     font-family: "ubuntu";
     font-size: 2.5rem ;
     font-weight: bold;
 }

 .nav-link
 {
     font-family: "montserrat-light";
     font-size:1.2rem ;
 }

 /* download button */
 .download-button{
     margin: 5% 3% 5% 0 ;
 }

 /*title image */

 .title-image{
     width: 40%;
     transform: rotate(25deg);
     position: absolute;
     right: 30%;
     
 }

 /* features */
 #features {
padding: 7% 15%;
background-color: #fff;
position: relative;

 }

 h3{
     font-size: 1.5rem ;
     font-family: "montserrat-bold";
 }
 
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

}

p{
    color: #8f8f8f;
}
.feature-box{
    text-align: center;
    padding: 5%;
}

/* Testimonials */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    

}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}
.carousel-item{
    padding: 7% 15%;
}

/* Pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
padding: 3% 2%;
}

@media (max-width: 1028px){
#title{
text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* call to action */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15% ;
    text-align: center;
}
.cta-heading{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
}
 
/* footer */

#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px ;
}